.container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.habit {
  font-weight: bold;
}

.count {
  padding: 0 0.4rem;
  margin-left: 0.3rem;
  border-radius: 50%;
  background-color: darkseagreen;
  color: white;
}

.icon {
  color: orange;
  font-size: 1.4rem;
  margin-left: 0.2rem;

  border: 0;
  background-color: white;
  outline: 0;
  transition: transform 100ms ease-in;
}

.icon:hover {
  transform: scale(1.05);
}

.trash {
  color: darkred;
}
